<header id="header">
  <div id="header-outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><b><%= config.title %></b></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
      <% } %>
    </div>
    <div id="header-inner"  data-uk-sticky="{top:-80}" style="position: fixed">
      <div class="navbar-uk">
        <div class="uk-container uk-container-center uk-position-relative">
        <nav id="main-nav" class="uk-navbar-nav" >
          <a class="nav-icon"><img src="/static/papaya.png" alt="papaya" /></a>
          <% for (var i in theme.menu){ %>
            <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          <% } %>
        </nav>
        <nav id="sub-nav">
          <% if (theme.rss){ %>
            <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
          <% } %>
          <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
        </nav>
      </div>
      </div>
      <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
      </div>
    </div>
  </div>
</header>